.as:hover {
    opacity: 0.5;
}
.seleccionado {
    opacity: 0.5;
}

.sd:hover>a { 
    background: transparent;    
    opacity: 0.5;  
    color : #ffffff; 
}

.form-control,.custom-select{
    height: 50px;
}
.sd>a{
    color: #ffffff;
}
.custom-pagination ::ng-deep .ngx-pagination .current {
    background: red;
}