@font-face{
  font-family: "finger";;
  src: url("../../../assets/finger.ttf")
}

.bannerImg{
    height: 450px;    
}
@media (max-width: 700px) {
    .bannerImg {      
      height: 300px;
     } }

@media (max-width: 500px) {
    .bannerImg {      
      height: 200px;
     } }
.custom-pagination ::ng-deep .ngx-pagination .pagination-previous {
color: #EA320B;

}
.custom-pagination ::ng-deep .ngx-pagination .current {
  background: #EA320B;
}
.custom-pagination ::ng-deep .ngx-pagination .pagination-next {
  color: #EA320B;
}
  .as:hover {
    opacity: 0.5;
}

.listaproductos *{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.seleccionado {
    opacity: 0.5;
}

.sd:hover>a { 
    background: transparent;    
    opacity: 0.5;  
    color : #ffffff; 
}


.sd>a{
    color: #ffffff;
}
.press:hover{
    cursor: pointer;
}

/*Logotipo*/
footer #logo a:hover{
  background:transparent;
  color:black;  
  transform: scale(1.50,1.50);
}

#logo{
  font-family: "finger";
  font-size: 30px;
}

#logo a{
  display: inline-block;
  text-decoration: none;
  transition: color 500ms,transform 500ms;
}
