<footer class="page-footer text-center font-small mt-4 wow fadeIn fixed-bottom" >
    
  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/TrinketCludSales" target="_blank">
      <i style="color: #EA320B;" class="fab fa-facebook fa-lg mr-3"></i>
    </a>

    <a (click)="whatsapp()">
      <i style="color: #EA320B;" class="fab fa-whatsapp fa-lg mr-3"></i>
    </a>      
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2021 Copyright:
    <a (click)="router.navigateByUrl('catalogo')"> Trinket Cloud Sales </a>
  </div>
  <!--/.Copyright-->

</footer>