<div class="row h-100 justify-content-center align-items-center" *ngIf="!estado">
    <div class="fa-4x" >
        <i class="fas fa-spinner fa-spin"></i>    
    </div>
</div>
<div *ngIf="estado">
    <h1><b>MANTENIMIENTO INVOICE</b></h1>
    <button class="btn btn-outline-primary mb-3" 
    (click)='this.router.navigateByUrl("menu/(opt:addInvoice)")'>
    <i class="fa fa-plus-circle " aria-hidden="true"></i>&nbsp;Nuevo Invoice
    </button>
    <div class="card">
        <div class="card-header py-3">
            <i class="fas fa-table"></i>
            Lista Invoice
        </div>
        <div class="card-body">
            <div class="table-responsive" >                
                <table class="table table-hover table-bordered" width="100%" cellspacing="0" id="tablaInvoice">
                    <thead>
                        <tr>
                            <th style="font-weight: bold;">Id</th>
                            <th style="font-weight: bold;">Compra Id</th>
                            <th style="font-weight: bold;">N° Consignado</th>
                            <th style="font-weight: bold;">N° Orden</th>
                            <th style="font-weight: bold;">Fecha</th>
                            <th style="font-weight: bold;">Nombre Contacto</th>
                            <th style="font-weight: bold;">Telefono</th>
                            <th style="font-weight: bold;">Pais</th>
                            <th style="font-weight: bold;">Estado</th>
                            <th style="font-weight: bold;">Terminos</th>   
                            <th style="font-weight: bold;">Editar</th>             
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inv of lista">
                            <td style="font-weight: bold;">{{inv.id_invoice_cab}}</td>
                            <td>{{inv.ord_comp_cab_id}}</td>
                            <td>{{inv.num_consigned_cab}}</td>
                            <td>{{inv.num_orden_cab}}</td>
                            <td>{{inv.fecha_inv_cab | date : 'dd/MM/yyyy'}} {{inv.fecha_inv_cab | date : 'HH:mm:ss'}}</td>
                            <td>{{inv.nomb_contact_cab}}</td>
                            <td>{{inv.telef_contact_cab}}</td>
                            <td>{{inv.country_cab}}</td>
                            <td>{{inv.state_cab}}</td>
                            <td>{{inv.terms_pay_cab}}</td>  
                            <td> <button class="btn-floating btn-outline-warning btn-sm mr-2 mb-2" (click)="editar(inv.id_invoice_cab)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>              
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
